.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.project
.classpath
.settings/
server/logs
*.log
*.pyc
/app/src/main/assets/scripts
/venv
server/scripts/__pycache__
server/scripts/__pycache__/CDevice.cpython-38.pyc
server/scripts/__pycache__/CDevice.cpython-38.pyc
